# NJStream Bot — environment config
BOT_TOKEN=1389903628:AAFapVJGN4EUoGul9gvWrSkT_qM71rwZ_2k
WORKER_URL=https://njsoft-stream.njcreative123.workers.dev
INGEST_KEY=275bebaf8ea67e964cc897e3edb74f4a
CHAT_IDS=-1002514429549
# Self-hosted Telegram Bot API (--local mode) — 20MB limit removed
# rawqh / VPSWala pe deploy hone ke baad public IP yahan daalo
LOCAL_BOT_API_URL=http://YOUR_RAWQH_IP:8081
